body{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    background-color: lemonchiffon;
    font-family: cursive;
}
.container{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display: flex;
    
}
.container .box{
    position: relative;
    width: 300px ;
    height: 500px;
    transition: 0.5s;
    background: #cccccc;
}
.container .box:hover{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,1);
}
.container .box .thumb{
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.container .box:nth-child(odd) .details{
    bottom: 0;
    left: 0;
}
.container .box .thumb img {
    width: 100%;
    height: 100%;
}
.container .box .details{
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.container .box:nth-child(even) .thumb{
    bottom: 0;
    left: 0;
}
.container .box:nth-child(1) .details{
    background: rgb(243, 12, 12);
}
.container .box:nth-child(2) .details{
    background: green;
}
.container .box:nth-child(3) .details{
    background: rgb(54, 180, 230);
}
.container .box:nth-child(4) .details{
    background: #ba47f0;
}
.container .box .details .content{
    position: absolute;
    top: calc(50% + 16px);
    transform: translateY(-50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.container .box:hover .details .content{
    top: calc(50%);
    transition: 0.5s;
}
.container .box .details .content h3{
    color: #fff;
}
.container .box .details .content p{
    color: #fff;
    transform: scale(0);
    transition: 0.5s;
}
.container .box:hover .details .content p{
    transform: scale(1);
}
.container .box .details .content a{
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
    transform: scale(0);
}
.container .box:hover .details .content a{
    transform: scale(1);
}
.container .box:nth-child(1) .details .content a:hover{
    background: rgba(214, 10, 10, 0.747);
    border: 2px solid rgba(214, 10, 10, 0.747);
    color: white;
}
.container .box:nth-child(2) .details .content a:hover{
    background: greenyellow;
    border: 2px solid greenyellow;
    color: black;
}
.container .box:nth-child(3) .details .content a:hover{
    background: blue;
    border: 2px solid blue;
    color: white;
}
.container .box:nth-child(4) .details .content a:hover{
    background: #6b009c;
    border: #6b009c;
    color: #fff;
}
@media (max-width: 1000px){
    .container{
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .container .box{
        height: 250px;
    }
    .container .box .thumb{
       display: none;
    }
    .container .box .details .content a{
        display: block;
    }
}
@media (max-width: 768px){
    .container{
        display: initial;
    }
    .container .box{
        width: 50%;
        height: 250px;
        float: left;
    }
    .container .box .thumb{
       display: none;
    }
}
@media (max-width: 500px){
    .HeadsUp{
        padding: 0px;
    }
    .container{
        top: auto;
        left: 0;
        transform: translate(0);
    }
    .container .box{
        width: 100%;
        height: 250px;
        float: none;
    }
    .container .box .thumb{
       display: none;
    }
}
.HeadsUp{
    text-align: center;
    padding-bottom: 30px;
    font-family: cursive;
}
.jumbotron{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background-color: #01ff4d;
    margin-left: 8%;
    margin-right: 8%;
    opacity: 0.8;
}
.places{
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(255, 255, 255, 0.801);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.places .card{
    height: 20rem;
}
.row{
    padding: 10px;
}
.card-img-top{
    height: 10rem;
}
.navbar{
    margin-left: 8%;
    margin-right: 8%;
}
.jumbo{
    background-color: rgba(255, 255, 255, 0.801);
    width: 100%;
}
.row{
    padding: 30px;
}
.carousel{
    margin-left: 8%;
    margin-right: 8%;
}
.hero{
    position: relative;
    width: 100%;
    
    display: block;
}
.hero video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
}
