<!DOCTYPE html>
<html>
    <head>
        <title>Watch It</title>
        <meta name= 'viewport' content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand mr-auto" href="#"><img src="/img/Origins.png" height="40" width="40"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/About.html">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/selfie.html">Selfie</a>
                </li>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Explore
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            Historic
                        </a>
                    <a class="dropdown-item" href="/green_page.html">
                        Nature
                    </a>
                    <a class="dropdown-item" href="#">
                        Adventure</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <div class="jumbotron jumbotron-fluid" style="height: 13rem; padding-bottom: 5px;">
            <div class="col-md-6">
              <h1 class="display-4">So You chose Rusty?</h1>
              <p class="lead">India is full of heritage.</p>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class= "carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="https://www.incredibleindia.org/content/dam/incredibleindia/images/places/hampi/hampi-elephant-stables-0.jpg/jcr:content/renditions/cq5dam.web.1800.600.jpeg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Hampi</h5>
                    <p>Temple built by Vijaywada Kingdom</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://www.incredibleindia.org/content/dam/incredibleindia/images/places/delhi/delhi-akshardham-13.jpg/jcr:content/renditions/cq5dam.web.1800.600.jpeg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Akshardham Temple</h5>
                    <p>India's Largest space occupying temple</p>
                  </div>
            </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://www.incredibleindia.org/content/dam/incredibleindia/images/places/mamallapuram/mamallapuram-mamallapuram-130.jpg/jcr:content/renditions/cq5dam.web.1800.600.jpeg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Mamallapuram(Mahabalipuram)</h5>
                    <p>Pride of Cholas Dynasty</p>
                  </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://www.incredibleindia.org/content/dam/incredibleindia/images/places/agra/agra-agra-fort-0.jpg/jcr:content/renditions/cq5dam.web.1800.600.jpeg" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                  <h5>Agra Fort</h5>
                  <p>Majestic sandstone building once pride of Mughals</p>
                </div>
          </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <br>
        <div class = "places">
            <div class="row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                <p style="text-align: center; padding: 20px;">
                    A land resounding with the riches and glories of opulent dynasties, powerful rulers, flourishing civilisations and profound history, India has a splendid heritage that is reflected in its architecture, monuments, arts, crafts, cultures and even religions. While formidable forts, ancient temples and grand palaces testify of the grandeur of times gone by, the various museums and galleries scattered across the country act as inventories of India's seamless past. Such is the magnificence of the structures in the country that UNESCO has identified several of them as heritage sites.</div></p>
            <div class = "col-md-2"></div>
          </div>
          <div class="row row-header">
            <h1 style = "padding-left: 35%;">What is your taste?</h1>
          </div>
          <div class = "row">
            <div class = "col-md-3 align-self-center">
            </div>
            <div class = "col-md-3 align-self-center">
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://www.incredibleindia.org/content/dam/incredibleindia/images/places/aurangabad/aurangabad-ajanta-caves-0.jpg/jcr:content/renditions/cq5dam.web.1024.576.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Rock Cut Architecture</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Read More</a>
                  </div>
                </div>
          </div>
          <div class = "col-md-3 align-self-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.incredibleindia.org/content/dam/incredible-india-v2/images/experiences/heritage/fort-and-palaces/1920-1080.jpg/_jcr_content/renditions/cq5dam.web.512.384.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Forts and Palaces</h5>
                  <p class="card-text"></p>
                  <a href="#" class="btn btn-primary">Read More</a>
                </div>
              </div>
          </div>
          <div class = "col-md-3 align-self-center"></div>
        </div>
        <div class="row row-header">
          <h1 style = "padding-left: 25%;">Some Popular Destinations in India</h1>
        </div>
      </div>
    <div id="carouselExampleControls" class="carousel slide places" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://www.incredibleindia.org/content/dam/incredible-india-v2/images/places/hampi/hampi-vitthala-temple-stone-chariot-1.jpg/_jcr_content/renditions/cq5dam.web.256.144.jpeg" alt="Hampi">
          <div class="card-body">
            <a href="#"><h5 class="card-title">Hampi</h5></a>
            <p class="card-text">A legendary lost city that was once the powerhouse of an ancient...</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.incredibleindia.org/content/dam/incredible-india-v2/images/video/poster/Sanchi%20Stupa.jpg/_jcr_content/renditions/cq5dam.web.256.144.jpeg" alt="Sanchi">
          <div class="card-body">
            <a href="#"><h5 class="card-title">Sanchi</h5></a>
            <p class="card-text">Suffused with serenity and spirituality, Sanchi is a treasure trove...</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.incredibleindia.org/content/dam/incredible-india-v2/images/world-heritage-sites/Humayun%27s%20Tomb,%20Delhi.jpg/_jcr_content/renditions/cq5dam.web.256.144.jpeg" alt="Humayun Tomb">
          <div class="card-body">
            <a href="#"><h5 class="card-title">Humayun Tomb</h5></a>
            <p class="card-text">Surrounded by neatly manicured lawns, the massive Humayun’s Tomb is a...</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.incredibleindia.org/content/dam/incredible-india-v2/images/places/jaipur/Jaipur.jpg/_jcr_content/renditions/cq5dam.web.256.144.jpeg" alt="Card image cap">
          <div class="card-body">
            <a href="#"><h5 class="card-title">Jaipur</h5></a>
            <p class="card-text">The city of palaces and forts, interspersed with historical monuments...</p>
          </div>
        </div>
      </div></div>
    <div class="carousel-item">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://www.incredibleindia.org/content/dam/incredibleindia/images/places/khajuraho/khajuraho-kandariya-mahadev-temple-0.jpg/_jcr_content/renditions/cq5dam.web.480.271.jpeg" alt="Card image cap">
          <div class="card-body">
            <a href="#"><h5 class="card-title">Khajuraho</h5></a>
            <p class="card-text">One of the finest temple art structures, the Khajuraho group of...</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.incredibleindia.org/content/dam/incredible-india-v2/images/places/agra/taj-mahal-1.jpg/_jcr_content/renditions/cq5dam.web.256.144.jpeg" alt="Card image cap">
          <div class="card-body">
            <a href="#"><h5 class="card-title">Taj Mahal</h5></a>
            <p class="card-text">Mughal emperor Shah Jahan, the creator of the Taj Mahal, said that...</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.incredibleindia.org/content/dam/incredibleindia/images/places/mamallapuram/mamallapuram-panchapandava-mandapa-120.jpg/_jcr_content/renditions/cq5dam.web.480.271.jpeg" alt="Card image cap">
          <div class="card-body">
            <a href="#"><h5 class="card-title">Mamallapuram</h5></a>
            <p class="card-text">Sitting along the Coromandel Coast of the Bay of Bengal, the seaport...</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.incredibleindia.org/content/dam/incredible-india-v2/images/video/poster/Thanjavur.jpg/_jcr_content/renditions/cq5dam.web.256.144.jpeg" alt="Card image cap">
          <div class="card-body">
            <a href="#"><h5 class="card-title">Thanjavur</h5></a>
            <p class="card-text">Scattered with gorgeous monuments, a legacy of the mighty Cholas, and...</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div><br>
        <footer>
          <br><br>
          <div class = "jumbo bg-light">
              <div class="row">             
                  <div class="col-4 offset-1 col-sm-2">
                      <h5>Links</h5>
                      <ul class="list-unstyled">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
                  <div class="col-7 col-sm-5">
                      <h5>Our Address</h5>
                      <address>
                    121, Clear Water Bay Road<br>
                    Clear Water Bay, Indore<br>
                    India<br>
                    Tel. <i class="fa fa-phone fa-lg"></i> : +91 1234 5678<br>
                    Fax <i class = "fa fa-fax fa-lg"></i> : +91 8765 4321<br>
                    Email <i class="fa fa-envelope fa-lg"></i> : <a href="mailto:muskanjain0603@gmail.com">muskanjain0603@gmail</a>
                </address>
                  </div>
                  <div class="col-12 col-sm-4 align-self-center">
                      <div class="text-center">
                          <a class="btn btn-social-icon btn-google" href="http://google.com/+"> <i class="fa fa-google-plus"></i></a>
                          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                          <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"> <i class="fa fa-linkedin"></i></a>
                          <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                          <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                          <a class="btn btn-social-icon" href="mailto:muskanjain0603@gmail.com"><i class="fa fa-envelope-o"></i></a>
                      </div>
                  </div>
            </div>
            <div class="row justify-content-center">             
                  <div class="col-auto">
                      <p>© Copyright 2020 Feel Awesome Sites</p>
                  </div>
            </div>
          </div>
      </footer>
    </body>
    <script type="text/javascript">
        //document.body.style.backgroundImage= "url('img/24749590798_b4faa24eeb_k.jpg')";
        //document.body.style.backgroundSize= "cover";
        document.body.style.backgroundColor = "black";
    </script>
</html>